/* CONTACT */

.contact__submit {
  background: #0b0b0b;
  color: $white;
  padding: 25px 0 70px;
}

.contact__title {
  max-width: 36%;
  text-align: center;

  padding-top: 83px;
  padding-bottom: 55px;
}

.contact__btn {
  @include block;
  margin-top: 43px;
}

.contact__inputs {
  @include flex-column;
  margin-bottom: 6px;
  input {
    width: 630px;
    margin: 20px auto 15px;
    background: 0 0;
    border: none;
    border-bottom: 1px solid #fff;
    color: $white;
    text-align: center;
    font-size: $fz16;
    font-family: "Open Sans", sans-serif;
    padding: 24px 20px 13px;

    @media (max-width: 768px) {
      width: 90%;
    }
  }

  input::placeholder {
    text-transform: uppercase;
  }

  label {
    min-width: 930px;
    margin: auto;
    input {
      width: 100%;
    }
    @media (max-width: 1160px) {
      min-width: 90%;
    }
  }
}

/* FOOTER */

.footer {
  background: #000000;
  color: $white;
}

.footer__copyright {
  text-align: center;
  text-transform: uppercase;
  padding: 25px 0;
}



