* {
    box-sizing: border-box;
}

.body {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    /* max-width: 100%; */
    height: auto;
}

a {
    text-decoration: none;
}

.list {
    padding-left: 0;
    margin: 0;
    list-style-type: none;
}

.titles {
    text-align: center;
    margin: 0 auto;
}

/* HEADER */

.header {
    background: #02918c;
}

.header__wrap {
    width: 1187px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
    outline: 1px solid red;
}

.header__menu {
    display: flex;
}

.header__menu li{
    margin: 0 24px;
}

.btn {
    background-color: #cfc91d;
    padding: 15px 40px;
}

/* MAIN */

.main__page {
    display: flex;
    flex-direction: column;
    flex: 1;
}

/* HERO */

.hero {
    background-image: url(../img/bg-header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 500px;
    text-align: center;
}

/* ABOUT */

.about__container {
    width: 1100px;
    margin: auto;
    text-align: center;
}

.about__title {
    outline: 1px solid red;
}

.about__items {
    display: flex;
}

.about-item {
    width: calc(100% / 4 - 20px);
    padding: 0 50px;
    outline: 1px solid blue;
    display: flex;
    flex: 4;
    flex-direction: column;
}

.about__pic {
    display: flex;
    justify-content: center;
}

/* SERVICES */

.services {
    display: flex;
}

.services__wrap {
    display: flex;
    flex-direction: column;
    background: #f0f0e8;
    padding-left: 90px;
}

.services__items {
    display: flex;
    flex-wrap: wrap;
}

.services__item {
    width: calc(100% / 2 - 20px);
    outline: 1px solid red;
}

.services__img {
    opacity: 0.3;
}

.services__img img {
    width: 50vw;
}

/* WORK */

.work__title {
    /* text-align: center; */
    width: 50vw;
    /* margin: auto; */
}

.work__items {
    display: flex;
    flex-wrap: wrap;
    width: 1280px;
    margin: auto;
}

.work__item {
    max-width: calc(1280px / 4);
    padding: 0;
    margin: 0;
}

/* CONTACT */

.contact__submit {
    background: #0b0b0b;
    height: 200px;
    color: #ffffff;
}

.contact__title {
    /* text-align: center; */
    width: 50vw;
    /* margin: auto; */
}

.contact__btn {
    display: block;
    margin: auto;
}

.contact__inputs {
    display: flex;
    flex-direction: column;

}

.contact__inputs input {
    display: block;
    width: 630px;
    margin: auto;
}

/* FOOTER */

.footer {
    background: #000000;
    color: #ffffff;
}

.footer__copyright {
    text-align: center;
}
