* {
    box-sizing: border-box;
}

:root {
    --black: #333333;
    --blue: #95e1d3;
    --white: #ffffff;
    --gray: #999999;
}

body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
}

a {
    text-decoration: none;
    transition: color 0.3s ease;
    color: var(--white);
    text-transform: uppercase;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4 {
    margin-top: 0;
    text-transform: uppercase;
}

p:last-child {
    margin-bottom: 0;
}

button {
    outline: none;
    border: none;
    background: none;
    cursor: pointer;
    transition: color 0.3s ease, background-color 0.3s ease;
}

input[type="email"],
input[type="button"],
input[type="submit"] {
    -webkit-appearance: none;
    border-radius: 0;
    border: none;
}

.list {
    padding-left: 0;
    margin: 0;
    list-style-type: none;
    text-transform: uppercase;
}

h1,
h2 {
    text-align: center;
}

.container {
    max-width: 1210px;
    margin: auto;
}

.left {
    padding-left: 15px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* hEADER */

header {
    margin-bottom: 120px;
}

.header__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 33px 0;
}

.header__logo {
    min-width: 90px;
}

.header__nav-wrap {
    display: flex;
}

.header__nav {
    margin-right: 10px;
}

.header__menu {
    display: flex;
}

.header__menu li:not(:last-child) {
    margin-right: 55px;
}

.header__menu a:hover {
    padding-bottom: 9px;
    color: #fce38a;
    border-bottom: 3px solid #fce38a;
}

.controls {
    display: flex;
    align-items: center;
}

.controls a {
    margin-left: 40px;
}

.controls img {
    width: 17px;
    height: 17px;
}

.controls img:hover {
    transform: scale(1.2);
}

/* HERO  */

.hero {
    background-image: url(../img/bg-header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: var(--white);
    position: relative;
}

.hero::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.8;
    z-index: 1;
    background: linear-gradient(to bottom, #e78082, #f1da8a);
}

.hero .container {
    position: relative;
    z-index: 10;
}

.hero__text {
    display: block;
    text-align: center;
    font-family: "Kaushan Script", cursive;
    font-size: 72px;
    margin-bottom: 30px;
}

.hero__title {
    font-size: 150px;
    line-height: 140px;
    font-weight: bold;
    letter-spacing: -5px;
    position: relative;
    margin-bottom: 120px;

    max-width: 1000px;
    margin: auto;
}

.hero__title::after {
    content: "";
    position: absolute;
    top: auto;
    bottom: -20%;
    left: calc(50% - 30px);
    z-index: 1;
    width: 60px;
    height: 3px;
    background: var(--white);
}

.btn {
    display: flex;
    justify-content: center;
    margin-bottom: 160px;
    margin-top: 105px;
}

.btn:hover {
    opacity: 0.8;
}

.hero__btn {
    text-align: center;
    border: 3px solid var(--white);
    font-weight: bold;
    padding: 8px 27px;
}

.hero__menu {
    display: flex;
}

.hero__menu li {
    width: calc(100% / 4 - 10px);
}

.hero__menu li:not(:first-child) {
    margin-left: 40px;
}

.hero__menu a {
    display: block;
    font-size: 18px;
    color: #f6eac4;
    border-top: 3px solid #f6eac4;
    padding: 20px 0;
}

.hero__menu a:hover {
    color: var(--white);
    border-top-color: var(--white);
}

.hero__menu span {
    font-size: 24px;
    font-weight: bold;
    margin-right: 5px;
}

/* MAIN */

main {
    display: flex;
    flex-direction: column;
    flex: 1;
}

/* SECTION ABOUT */

.about {
    margin: 85px 0 107px;
    padding-left: 15px;
}

.about__title-box {
    max-width: 950px;
    margin: 0 auto;
    padding-bottom: 97px;
    text-align: center;
}

.title__box {
    margin: 0 auto 35px;
    text-align: center;
}

.pre-section__title {
    font-family: "Kaushan Script", cursive;
    font-size: 24px;
    text-align: center;
    display: block;
    margin-bottom: 10px;
}

.section__title {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 37px;
    letter-spacing: -1px;
    position: relative;
}

.section__title::after {
    content: "";
    position: absolute;
    bottom: -100%;
    left: calc(50% - 30px);
    width: 60px;
    height: 3px;
    background: #f38181;
}

.text {
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    line-height: 24px;
    color: var(--gray);
}

.about .text {
    margin-top: 77px;
}

.about__wrap {
    display: flex;
    justify-content: space-between;
}

.about__item {
    background: var(--blue);
    width: calc(100% / 3 - 15px);
    position: relative;
}

.about__item:hover .about__item-wrap {
    position: absolute;
    z-index: 1;
    transform: translate(-10px, -10px);
    transition: all 0.2s ease-in-out;
}

.super__team {
    display: none;
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;

    background: linear-gradient(to bottom, #e78082, #f1da8a);
    opacity: 0.8;
}

.super__team span {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    color: var(--white);
}

.super__team img {
    width: 30px;
    height: auto;
}

.about__item:hover .super__team {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about__item-img {
    width: 100%;
    height: fit-content;
}

/* SECTION DIGITS */

.digits {
    background: #95e1d3;
}

.digits__wrapper {
    display: flex;
}

.digits__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100% / 5);
    padding: 70px 0 85px;
    text-transform: uppercase;
    color: var(--white);
}

.digits__item:not(:last-child) {
    border-right: 1px solid #b5eae0;
}

.digits__item-number {
    font-size: 72px;
    font-weight: bold;
    margin-bottom: 10px;
}

.digits__item-text {
    text-align: center;
}

/* SECTION SERVICES */

h3 {
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 10px;
}

.widgets h3 {
    margin-bottom: 37px;
}

.services {
    margin: 105px 0 35px;
}

.services__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 56px;
}

.services__item {
    width: calc(100% / 3);
    display: flex;
    padding-bottom: 50px;
    padding-top: 44px;
    padding-left: 25px;
}

.services__item:nth-child(6n + 1),
.services__item:nth-child(6n + 2),
.services__item:nth-child(6n + 3) {
    border-bottom: 1px solid #e5e5e5;
}

.services__icon {
    min-width: 32px;
    height: 32px;
    margin-right: 32px;
    padding-top: 5px;
}

.text__wrap .text {
    margin-top: 5px;
}

/* FOOTER */

.footer {
    background: #f8f8f8;
}

.footer a:hover {
    opacity: 0.8;
}

.widgets {
    display: flex;
    padding: 71px 0 40px 13px;
    border-bottom: 1px solid #e5e5e5;
}

.widgets > div:not(:first-child) {
    margin-left: 60px;
}

.widgets__wrap {
    display: flex;
}

/* MOGO  */

.widgets__mogo {
    flex: 1;
}

.widgets__mogo-logo {
    margin-bottom: 35px;
}

.widgets__mogo-text {
    margin-bottom: 12px;
}

.widgets__mogo-text .text {
    margin-bottom: 40px;
}

.followers  {
    font-family: "Roboto", sans-serif;
    color: var(--black);
}

.followers span {
    font-size: 18px;
    font-weight: bold;
}

.footer__socials {
    display: flex;
    border-top: 1px solid #e5e5e5;
    padding-top: 15px;
    padding-bottom: 36px;
}

.footer__socials span {
    font-family: Roboto;
    font-size: 15px;
    font-style: italic;
    color: var(--gray);
}

.footer__socials-list {
    display: flex;
    align-items: center;
}

.footer__socials-list li {
    margin-left: 16px;
}

.footer__socials-list img:hover  {
    transform: scale(1.2);
}

.subscribe__form {
    display: flex;
}

.subscribe__form input {
    outline: 1px solid #e5e5e5;
    background: var(--white);
    padding: 13px;
    font-style: italic;
    min-width: 230px;
}

input::placeholder {
    color: #e5e5e5;
}

.subscribe__btn {
    font-weight: bold;
    text-transform: uppercase;
    color: var(--white);
    background: var(--blue);
    padding: 13px 35px;
}

.subscribe__btn:hover {
  background: #52DAC5;
}

/* BLOGS  */

.widgets__blogs {
    max-width: 355px;
}

.widgets__blogs-item {
    display: flex;
    margin-bottom: 30px;
}

.blogs__item-img {
    height: fit-content;
}

.blogs__item-img img {
    min-width: 120px;
}

.blogs__item-text {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    margin-left: 18px;
}

.blogs__item-text h4 {
    margin-bottom: 3px;
}

.blogs__item-text h4 a {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: -0.4px;
    color: var(--black);
}

.blogs__item-text time,
.widgets__instagram a {
    font-family: Roboto;
    font-size: 13px;
    font-style: italic;
    color: var(--gray);
}

/* INSTAGRAM  */

.widgets__instagram {
    max-width: 270px;
}

.widgets__instagram-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.widgets__instagram-list li {
    width: calc(100% / 3 - 2px);
    margin-bottom: 5px;
}

.widgets__instagram-list li:hover  {
    transform: scale(1.05);
}

.widgets__instagram a {
    text-transform: none;
    font-style: italic;
    color: var(--black);
}

.copyright {
    display: flex;
    justify-content: center;
    padding: 24px 0;
    font-weight: 500;
    color: var(--black);
}

.copyright a {
    color: #f49f9f;
    font-weight: bold;
    text-transform: none;
}

/* MEDIA QUERIES */

@media (max-width: 1210px) {
    .container {
        padding-left: 15px;
        padding-right: 15px;
    }

    .about__item-img {
        height: auto;
    }

    .widgets > div:not(:first-child) {
        margin-left: 20px;
    }

}

@media (max-width: 992px) {
       .hero__title {
        font-size: 90px;
        line-height: 80px;
    }

    .widgets {
        flex-direction: column;
    }

    .widgets__wrap {
        justify-content: space-around;
        margin-top: 30px;
    }

    .widgets__blogs {
        max-width: 60%;
    }
}
