@font-face {
    font-family: "Droid Serif";
    src: url("../fonts/DroidSerif-Italic.ttf") format("truetype");
    font-style: italic;
    font-weight: 400;
}

* {
    box-sizing: border-box;
}

.container {
    max-width: 940px;
    margin: 0 auto;
}

.list {
    padding-left: 0;
    margin: 0;
    list-style-type: none;
}

body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    letter-spacing: -0.01em;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

h1,
h2,
h3,
h4,
p {
    margin: 0;
    text-align: center;
}

.section__title {
    font-size: 40px;
    line-height: 75px;
}

.section__title-wrap {
    padding-top: 95px;
    padding-bottom: 70px;
}

section {
    padding-bottom: 120px;
}

h1,
h2 {
    text-transform: uppercase;
}

/* HEADER */

.header {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}

.header__menu {
    display: flex;
}

.header__menu-item {
    margin-left: 37px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
}

/* MAIN */

/* HERO  */
.hero {
    position: relative;

    background-image: url(../img/bg-header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-color: #000000;
    color: #ffffff;
}

.hero::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.5;

    background-color: #000000;
}

.hero .container {
    position: relative;
    z-index: 10;
}

.hero__wrap {
    padding-top: 190px;
    padding-bottom: 185px;
}

.hero__title {
    font-size: 75px;
    margin: 30px 0 60px;
    letter-spacing: -0.04em;
}

.hero .hero__subtitle {
    font-size: 40px;
    color: #ffffff;
}

.subtitle {
    display: block;

    font-family: "Droid Serif Italic";
    font-size: 18px;
    font-style: italic;
    text-align: center;
    color: #777777;

    text-transform: capitalize;
    letter-spacing: -0.01em;
}

.btn a {
    background-color: #fed136;
    padding: 23px 52px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.06em;
}

.btn {
    display: block;
    text-align: center;
}

/* SERVICES */

.services__wrap {
    display: flex;
    justify-content: space-between;
    /* padding-bottom: 80px; */
}

.services__item {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: calc(100% / 3 - 35px);
}



.services__item-text h3 {
    font-size: 18px;
    margin: 20px 0 15px;
}

.services__item-text p {
    font-family: "Roboto Slab", serif;
    font-size: 14px;
    color: #777777;
    letter-spacing: -0.02em;
}

/* PORTFOLIO */

.portfolio {
    background: #f7f7f7;
}

.portfolio__wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.portfolio__item {
    width: calc(100% / 3 - 20px);
    outline: 1px solid red;
    margin-bottom: 50px;
}

.portfolio__desc {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ABOUT */

.about__item {
    outline: 1px solid red;
    display: flex;
    justify-content: center;
}

.about__item-logo {
    border-radius: 50%;
    border: 5px solid #f1f1f1;
    overflow: hidden;
}

/* TEAM */

.team {
    background: #f9f9f9;
}

.team__list {
    display: flex;
    justify-content: space-between;
}

.team__person {
    width: calc(100% / 3 - 20px);
    display: flex;
    flex-direction: column;
    align-items: center;
    outline: 1px solid red;
}

.team__person-avatar {
    width: 220px;
    height: 220px;
    border-radius: 50%;
    overflow: hidden;
}

/* PARTNERS */

.partners__item {
    outline: 1px solid red;
    margin: 0 20px;
}

.partners {
    display: flex;
    justify-content: center;
    padding: 60px 0;
}

/* CONTACTS */

.contacts {
    background-image: url(../img/bg-contact.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
}

.contacts__wrap {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}

.contacts__wrap-inputs {
    display: flex;
    flex-direction: column;
    width: calc(100% / 2 - 20px);
}

.contacts__wrap-inputs input {
    margin-bottom: 15px;
    min-height: 50px;
}

.contacts__wrap-inputs input:last-child {
    margin-bottom: 0;
}

textarea {
    width: calc(100% / 2 - 20px);
 }

/* FOOTER  */

.footer {
    padding-top: 15px;
    padding-bottom: 25px;
}

.footer__wrap {
    display: flex;
}

.footer__socials {
    /* outline: 1px solid red; */
    position: absolute;
    left: 50%;
    right: 50%;
}
