* {
    box-sizing: border-box;
}

/* html {
    scroll-behavior: smooth;
} */

:root {
    --gray: #f2ebe9;
    --text: #6d6e71;
    --white: #ffffff;
    /* --violet: #413d4b;
    --aqua: #00e0d0; */
}

body {
    font-family: "Open Sans", sans-serif;
    color: var(--text);
    font-size: 14px;
    display: flex;
    flex-direction: column;
    margin: 0;
}

a {
    text-decoration: none;
    transition: color 0.3s ease;
    /* color: var(--white); */
}

/* a:hover {
    opacity: 0.7;
} */

img {
    display: block;
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4 {
    margin-top: 0;
    font-weight: bold;
}

p {
    margin-top: 0;
}

h1 {
    text-align: center;
}

p:last-child {
    margin-bottom: 0;
}

button {
    outline: none;
    border: none;
    background: none;
    cursor: pointer;
    transition: color 0.3s ease, background-color 0.3s ease;
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="button"],
input[type="submit"] {
    -webkit-appearance: none;
    border-radius: 0;
    border: none;
}

.list {
    padding-left: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
}

.container {
    max-width: 1160px;
    margin: 0 auto;
    /* outline: 1px solid red; */

    /* margin-left: 22%; */
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* HEADER */

.header {
    background-image: url("../img/&.png");
}

.header__up {
    background: #eceef4;
}

.header__up-wrap,
.header__middle-inner,
.header-down-wrap {
    display: flex;
    justify-content: space-between;
}

.header__middle-inner {
    padding: 63px 0;
    margin-left: -15px;
}

.header__middle {
    border-bottom: 2px solid var(--gray);
}

.header__meta {
    display: flex;
}

.header__meta-item {
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    min-width: 98px;
    max-height: 32px;
    background: #ffffff;
    margin: 15px 3px;
    border-radius: 5px;

    font-size: 12px;
    font-weight: bold;
}

.header__meta-item span {
    /* padding: 10px 0; */
    color: var(--text);
}

.header__meta-item img {
    height: fit-content;
    padding: 0 16px 0 8px;
}

.header__meta-item:hover {
    transform: scale(1.1);
}

.header__socials {
    display: flex;
}

.socials {
    padding: 20px;
    border-right: 1px solid #dee0e6;
    border-left: 1px solid #dee0e6;
}

.socials:hover img {
    transform: scale(1.2);
}

.header__logo {
    max-width: 400px;
}

.header__menu li {
    padding: 34px 18px;
    border-right: 1px solid var(--gray);
    border-left: 1px solid var(--gray);
    /* box-shadow: 0 14px 28px var(--gray), 0 10px 10px rvar(--gray);  */
    font-size: 13px;
    font-weight: bold;
    position: relative;
}

.header__menu li:first-child {
    border-left: none;
}

.header__menu li:last-child {
    border-right: none;
}

.header__menu li::after {
    display: none;
    position: absolute;
    right: calc(50% - 17px);
    bottom: 0;

    content: "";

    width: 0;
    height: 0;
    border-left: 17px solid transparent;
    border-right: 17px solid transparent;
    border-bottom: 10px solid #1faae2;
}

.header__menu li:hover:after {
    display: block;
}

.header__menu li a {
    color: var(--text);
    padding: 0 5px;
}

.header__menu li:hover > a {
    color: #1faae2;
    text-transform: uppercase;
}

/* .header__menu li:hover {
    padding: 35px 18px;
} */

.header__address {
    display: flex;
    padding-right: 10px;
}

.header__address-item {
    padding: 0 22px;
    margin-top: auto;
}

.header__address-item:not(:last-child) {
    border-right: 1px solid #dee0e6;
}

.header__address-item:hover {
    opacity: 0.8;
}

.geo {
    position: relative;
}

.geo:hover::after {
    position: absolute;
    content: attr(data-tooltip);
    box-shadow: 0 0 0 2px var(--text);
    border-radius: 5px;
    bottom: 55px;
    right: -110%;
    width: 222px;
    height: 48px;

    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    text-align: center;
    line-height: 3;
}

.geo:hover::before {
    content: "";
    width: 0;
    height: 0;
    border: 15px solid transparent;
    border-top-color: var(--text);
    position: absolute;
    left: calc(50% - 15px);
    top: -20px;
}

.header__search {
    display: flex;
    padding: 30px 30px 30px 0;
    /* margin-left: 150px; */
}

.header__search-btn {
    height: 25px;
    width: 25px;
}

.header__search-field {
    border-color: transparent;
    margin-left: 10px;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    font-weight: 300;
    width: 170px;
}

.header__search-field::placeholder {
    width: 100%;
}

.hero__designes {
    display: flex;
    justify-content: flex-end;
    margin-top: 150px;
    max-height: 240px;
}

.hero__designes-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    min-width: 320px;

    background-repeat: no-repeat;
    background-position: center;
}

.hero__designes-item:hover,
.hero__designes-btn:hover {
    transform: scale(1.01);
}

.green {
    background-image: url("../img/design-green.png");
}

.yellow {
    background-image: url("../img/design-yellow.png");
}

.hero__designes-btn {
    max-width: 110px;
    padding: 0;
}

.hero__designes-like {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    min-height: 65px;
    opacity: 0.9;
    padding: 0;
}

.hero__designes-like[class] span {
    font-size: 14px;
    font-family: "Open Sans";
    font-weight: 700;

    padding-left: 10px;
}

.green .hero__designes-like {
    background: #8aca51;
    color: var(--white);
}

.yellow .hero__designes-like {
    background: #feeb75;
    color: #cc9800;
}

/* MAIN */

.main__page {
    display: flex;
    flex-direction: column;
    flex: 1;
    position: relative;
}

.hero {
    text-align: center;
    min-height: 900px;
    background-repeat: no-repeat;
    background-image: url("../img/hero.png");
    color: var(--white);
}

.hero__wrap {
    padding-top: 245px;
    max-width: 866px;
    margin: auto;
}

.hero__title {
    font-size: 58px;
    text-transform: uppercase;
    margin-bottom: 0;
}

.hero span {
    font-size: 45px;
    font-weight: 300;
    display: block;
    text-align: right;
    line-height: 1;
}

.item__title {
    font-size: 26px;
    margin-bottom: 15px;
    margin-top: 15px;
}

/* ABOUT  */

.about {
    margin-top: 10px;
}

.about__wrapper {
    display: flex;
    justify-content: space-between;
    padding-bottom: 85px;
}

.about__item {
    display: flex;
    width: calc(100% / 2 - 60px);
}

.about__pic {
    width: 100px;
    margin: 5px 40px 40px 0;
}

.about__pic img {
    max-width: inherit;
}

.text {
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    text-align: justify;
}

.title__wrap {
    display: flex;
    justify-content: center;
    width: 570px;
    padding-top: 90px;
    margin: 0 auto;
}

/* .action__title {
    padding-right: 75px;
} */

.title__pic {
    min-width: 140px;
}

/* ACTION */

.section__title {
    font-size: 44px;
    margin-bottom: 0;
}

.action .container {
    border-top: 2px solid #ebedee;
    border-radius: 50%/35px 35px 0 0;
}

.action__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 87px;
}

.action__item {
    display: flex;
    width: 500px;
    padding-bottom: 90px;
}

.border {
    min-width: 567px;
    border-right: 1px solid #ebedee;
}

.action__pic {
    width: 90px;
    margin-right: 28px;
    margin-top: 5px;
}

.action__pic img,
.title__pic img {
    margin: auto;
}

.title__text {
    /* max-width: 450px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 25px;
}

.title__text span {
    font-size: 17px;
    font-weight: 300;
    display: block;
    /* width: 331px; */
}

.item__title-small {
    font-size: 24px;
    margin-bottom: 15px;
}

.action__desc {
    width: 385px;
}

/* PROJECTS */

.projects {
    background: #efefef;

    border-top: 1px solid #ebedee;
    border-radius: 50%/35px 35px 0 0;
}

.project__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 67px;
    /* border: 1px solid green; */
}

.project__item {
    width: calc(100% / 4 - 11px);
    min-height: 280px;
    margin-bottom: 23px;
    background-color: var(--white);
    border-radius: 5px;
}

.projects__title {
    padding-top: 56px;
    padding-left: 35px;
}

.projects__title .title__text {
    justify-content: flex-end;
    padding-left: 30px;
}

.project__tags {
    display: flex;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: 57px;
}

.project__tag {
    font-size: 15px;
    font-weight: bold;

    border: 2px solid #bbbbbb;
    border-radius: 5px;
    padding: 10px 30px;
}

.project__tag:not(:last-child) {
    margin-right: 15px;
}

.project__tag a {
    color: #bbbbbb;
}

.project__tag:hover {
    background-color: var(--white);
    border-color: var(--white);
}

.project__tag:hover > a {
    color: var(--text);
}

.project__img {
    max-width: 250px;
    margin: 15px auto 0;
}

.project__controls {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.project__controls > div {
    padding: 15px 0;
    width: 50%;
}

.project__controls img {
    width: 25px;
    margin: auto;
}

.project__controls > div:hover {
    transform: scale(0.9, 0.9);
}

.project__controls-fix {
    border-right: 1px solid #efefef;
}

/* FOOTER */

.footer {
    background: #2b2c2d;
    color: var(--text);
    font-size: 13px;
    font-weight: 300;
}

.footer__wrap {
    margin-bottom: 35px;
    margin-top: 85px;
    display: flex;
    justify-content: space-between;
}

.footer__socials {
    display: flex;
}

.footer__socials .socials {
    border-color: #3c3e3f;
}

.footer__menu a {
    color: var(--text);
}

.footer__menu li {
    margin-right: 25px;
}

.footer__menu li:not(:first-child) {
    list-style-type: disc;
}

.footer__subscribe-form {
    min-width: 600px;
    position: relative;
}

input.footer__subscribe-field {
    width: 100%;
    padding: 20px 85px;
    border-radius: 5px;
    background-color: #393b3c;

    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: bold;

    color: var(--text);
}

.footer__subscribe-icon {
    position: absolute;
    z-index: 66;
    left: 20px;
    top: calc(50% - 12px);
}

.footer__subscribe-btn {
    color: var(--text);
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: bold;

    height: 42px;
    width: 72px;
    position: absolute;
    top: calc(50% - 21px);
    right: 8px;
    cursor: pointer;
    background: #494c4d;
    border-radius: 10px;
}

.footer__subscribe-btn:hover,
.btn-up:hover {
    transform: scale(1.05);
}

.btn-up {
    position: fixed;
    bottom: 40%;
    right: 3%;
    cursor: pointer;
    z-index: 100;
    opacity: 0;
    transform: translateY(100px);
}

.showBtn {
    opacity: 1;
    transform: translateY(0);
}

/* MEDIA QUERIES  */

@media (max-width: 1500px) {
    .btn-up {
        display: none;
    }
}

@media (max-width: 1200px) {
    .container {
        padding: 0 15px;
    }

    .header__search {
        margin-left: 0;
    }

    .about__item {
        width: calc(100% / 2 - 20px);
    }

    .border {
        min-width: calc(100% / 2 - 10px);
    }

    .header__up,
    .header__middle,
    .header-down {
        padding: 0 10px;
    }

    .hero__wrap {
        padding-left: 10px;
        padding-right: 10px;
    }

    .header__middle {
        border-bottom: none;
    }

    .project__item {
        width: calc(100% / 3 - 11px);
    }
}

@media (max-width: 1100px) {
    .border {
        border: none;
    }

    .header__search {
        display: none;
    }

    .action__items {
        flex-direction: column;
        align-content: center;
    }

    .action__item {
        width: 80%;
    }

    .action__desc {
        width: 100%;
    }
}

@media (max-width: 900px) {
    .footer__wrap {
        flex-direction: column;
        align-items: center;
    }

    .footer__socials {
        margin-bottom: 25px;
    }
}

@media (max-width: 800px) {
    .hero__designes {
        /* display: none;   */
    }
}

@media (max-width: 768px) {
    .about__wrapper {
        flex-direction: column;
    }
    .about__item {
        width: 100%;
    }

    .project__item {
        width: calc(100% / 2 - 11px);
    }

    /* .footer__subscribe-form {
        display: flex;
        max-width: 100%;
    
    }

    input.footer__subscribe-field {
        min-width: 100%;
    } */
}
