* {
    box-sizing: border-box;
}

:root {
    --gray: #f2ebe9;
}

.container {
    width: 1160px;
    margin: 0 auto;
}

.list {
    padding-left: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

h1,
h2 {
    text-align: center;
}

/* HEADER */

.header__up {
    display: flex;
    background: #eceef4;
}

.header__meta {
    display: flex;
}

.header__meta-item {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-width: 100px;
    background: #ffffff;
    margin: 15px 5px;
    border-radius: 5px;
}

.header__meta-item span {
    padding: 10px 0;
}

.header__meta-item img {
    height: fit-content;
}

.header__socials {
    display: flex;
}

.socials {
    padding: 15px;
    margin: auto;
    border-right: 2px solid var(--gray);
    border-left: 2px solid var(--gray);
}

/* .header__logo {
    border: 1px solid blue;
} */

.header__menu {
    
}

.header__menu li {
    padding: 35px 20px;
    border-right: 1px solid var(--gray);
    border-left: 1px solid var(--gray);
}

.header__address {
    display: flex;
}

.header__address-item {
    padding: 15px;
    margin: auto;
}

.header__address-item:nth-child(2) {
    padding: 0;
}

.header__address-item:nth-child(2) img {
  
    padding: 0 15px;
}

.header__search {
    display: flex;
    padding: 30px 0;
}

.header__search img {
    height: fit-content;
    margin-right: 15px;
}

.header__middle {
    border-bottom: 2px solid var(--gray);
}



.flex {
    display: flex;
    justify-content: space-between;
}

/* MAIN */

.main__page {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.hero {
    text-align: center;
    min-height: 900px;
    background-repeat: no-repeat;
    background-image: url("../img/hero.png");
}

.about__wrapper {
    display: flex;
    justify-content: space-between;
}

.about__item {
    width: calc(100% / 2 - 100px);
    border: 1px solid blue;
}

.about__pic {
    width: 100px;
    border: 1px solid blue;
}

.title__wrap {
    display: flex;
    justify-content: center;
    border: 1px solid blue;
}

/* ACTION */

.action__items {
    display: flex;
    flex-wrap: wrap;
}

.action__item {
    display: flex;
    width: calc(100% / 2 - 20px);
    border: 1px solid blue;
}

.action__item:nth-child(2n + 1) {
    margin-right: 30px;
}

.action__desc {
}

/* PROJECTS */

.projects {
    background: var(--gray);
    border: 1px solid green;
}

.project__items {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid green;
}

.project__item {
    margin: 10px;
    width: calc(100% / 4 - 20px);
    min-height: 280px;
    border: 1px solid blue;
}

.project__tags {
    display: flex;
    justify-content: center;
}

.project__tag {
    margin: 9px;
    border: 1px solid #bbbbbb;
    padding: 15px 30px;
}

.project__tag span {
    width: 80%;
}

/* FOOTER */

.footer {
    background: #2b2c2d;
    color: white;
}

.footer__wrap {
    border: 1px solid blue;
    margin-bottom: 35px;
    margin-top: 85px;
}

.footer__socials {
    display: flex;
}
